## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
_ReSharper.*/
*.DotSettings.user

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]pp_Data/
*.cache
*.log

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/[Pp]ackages/repositories.config

## JetBrains Rider
.idea/
*.sln.iml

## VSCode
.vscode/
session-*.md
